<header id="header">
    <img src="../../assets/images/ng-book-2-minibook.png" id="logo">

    <div class="title-subtitle">
        <h1><a [routerLink]="['/']">{{title}}</a></h1>
        <p>Aplicación de albums con NodeJS y Angular 9</p>
    </div>
    <div>
        <a [routerLink]="['/add-album']" class="ui white button add">
            Crear album
        </a>
    </div>
    <div class="clearfix"></div>
</header>

<section class="main">
    <router-outlet></router-outlet>

    <div class="clearfix"></div>
</section>