<h1>{{titulo}}</h1>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form large segment" style="margin-top: 0;" [class.error]="!myForm.valid && title.touched">
  <!-- <h3 class="ui dividing header">{{ titulo }}</h3> -->

  <div class="field" [class.error]="!title.valid && title.touched">

    <div *ngIf="title.hasError('required')" class="ui error message">
    	El título es requerido
    </div>
    <label for="title">Título: </label>
    <div class="ui input">
	    <input type="text" value="{{ album?.title }}" placeholder="Título del album" name="title" [formControl]="title">
	</div>

  </div>
  <div class="field" [class.error]="!description.valid && description.touched">

    <div *ngIf="description.hasError('required')" class="ui error message">
    	La descripción es requerida
    </div>
    <label for="description">Descripción: </label>
    <div class="ui input">
	    <textarea value="{{ album?.description }}" placeholder="Descripción" name="description" [formControl]="description">
	    </textarea>
	</div>
  </div>
  <div class="ui">
	  <button type="submit" class="ui right floated button primary" 
	  [class.disabled]="!myForm.valid">
	    Crear
	  </button>
	</div>
</form>