<div class="loading" *ngIf="loading">
	<a href="" class="ui loading button"></a>
</div>

<div *ngIf="album" class="album-box">
	<div class="data-rest">
		<h1>Album: {{ album?.title }}</h1>
		<p class="description"> {{ album?.description }}</p>	

		<a [routerLink]="['/add-image', album?.id]" class="ui yellow button">Añadir foto</a>

		<div class="image-gallery" *ngIf="images">
			<ul id="picture-list">
				<li *ngFor="let image of images" class="image-item">
					<div class="picture">
						<img src="{{ _imageService.getApiUrl(image.picture) }}" *ngIf="image.picture && image.picture != 'null' "/>
					</div>
					<div class="title">
						<a [routerLink]="['/image', image?.id]">{{ image.title }}</a>
					</div>
				</li>	
			</ul>			
		</div>
		<div class="clearfix"></div>	
	</div>
</div>

