<h1>{{titulo}}</h1>

<div class="loading" *ngIf="loading">
	<a href="" class="ui loading button"></a>
</div>

<ul id="albums-list">
	<li *ngFor="let album of albums" class="album-item">
		<div class="content-data">
			<h4>{{ album.title }}</h4>
			<p class="desc">{{ album.description }}</p>
			<div>
				<a [routerLink]="['/album', album.id]" class="ui button primary">Ver</a>
				<a [routerLink]="['/add-image', album.id]" class="ui yellow button">Añadir fotos</a>
				<a [routerLink]="['/edit-album', album.id]" class="ui green button">Editar</a>
				<a (click)="onDeleteConfirm(album.id)" class="ui red button">Eliminar</a>
			</div>
			<div class="seguro" *ngIf="confirmado == album.id">
				<p>Está seguro que desea eliminar el album?</p>
				<div>
					<a (click)="onDeleteAlbum(album.id)" class="ui red button">Eliminar</a>
					<a (click)="onCancelDeleteAlbum()" class="ui primary button">Cancelar</a>
				</div>
			</div>
		</div>
	</li>
</ul>