<div class="loading" *ngIf="loading">
	<a href="" class="ui loading button"></a>
</div>

<div *ngIf="image" class="image-box">
	<a [routerLink]="['/album', image.album_id]" class="ui primary button">Ver album</a>
	<a [routerLink]="['/edit-image', image.id]" class="ui green button">Editar</a>
	<a (click)="onDeleteConfirm(image.id)" class="ui red button">Eliminar</a>
	<div class="seguro" *ngIf="confirmado == image.id">
		<p>Está seguro que desea eliminar la imagen?</p>
		<div>
			<a (click)="onDeleteImage(image.id)" class="ui red button">Eliminar</a>
			<a (click)="onCancelDeleteImage()" class="ui primary button">Cancelar</a>
		</div>
	</div>
	<h1>{{ image.title }}</h1>
	<img class="image" src="{{ _imageService.getApiUrl(image.picture) }}"/>
</div>	