<h1>{{titulo}}</h1>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form large segment" style="margin-top: 0;" [class.error]="!myForm.valid && title.touched">
  <div class="field" [class.error]="!title.valid && title.touched">

    <div *ngIf="title.hasError('required')" class="ui error message">
      El título es requerido
    </div>
    <label for="title">Título: </label>
    <div class="ui input">
      <input type="text" value="{{ image?.title }}" placeholder="Título de la imagen" name="title" [formControl]="title">
    </div>
  </div>
  <div *ngIf="is_edit" class="field" [class.error]="!picture.valid && picture.touched">
    <div *ngIf="picture.hasError('required')" class="ui error message">
      La foto es requerida
    </div>
    <label for="picture">Sube tu foto: </label>
    <div class="ui input">
      <input type="file" (change)="fileChangeEvent($event)" name="picture" value="{{ image?.picture }}" placeholder="Subir imagen..." [formControl]="picture"/>
    </div>
  </div>
  
 <div class="ui">
    <button type="submit" class="ui right floated button primary" 
    [class.disabled]="!myForm.valid">
      {{ titulo }}
    </button>
  </div>
</form>