/*@import './app/vendor/semantic.min.css';*/
@import './app/vendor/semantic.css';                                                                                                                                                                                                                                                                                                                                                                                                      

body{
  font-family: Helvetica, Arial;
}

.clearfix{
  float: none;
  clear: both;
  text-decoration: none;
  list-style: none;
}

#content{
  width: 80%;
  min-height: 500px;
  margin: 0px auto;
  margin-top: 20px;
  /*margin-left: 20px;*/
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
  background: #eee;
}

header{
  padding: 15px;
  background: #E74A30;
}

header .title-subtitle{
  float: left;
  border-bottom: 1px solid white;
  border-top: 1px solid white;  
  color: white;
  padding: 20px;
  margin-left: -65px;           
  padding-left: 65px;
}

header h1, 
header p{
  margin: 0px;
  margin-left: 15px;
}

header h1 a{
  color: white;
}

header .add {
  float: right;
}

header p{
  color: #eee;
}

header #logo{
  width: 50px;
  margin-top: 4px;
  display: block;
  float: left;
}

.main{
  padding: 10px;  
}

#albums-list{
  padding: 0px;
  margin: 0px;
}

.album-item{
  list-style: none;
  width: 95%;
  border: 1px solid #ddd;
  float: left;
  height: 140px;
  padding-top: 20px;
  color: gray;
  background: white;
  margin: 10px;
}

.album-item .content-data{
  float: left;
  margin-left: 20px;
}

.album-item h4{
  color: #444;
  margin: 0px;
  padding: 0px;
}

.album-item .desc{
  margin: 0px;
  padding: 0px;
  height: 45px;
  overflow: hidden; 
}

footer{
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
  color: gray;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

form.ui.segment.form {
  background-color: #F1F9FF;
  margin-top: 0em;
}

form.form:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.votes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  padding: 1em 0;
  border-radius: 5px;
}

.ui.grid.posts {
  margin-top: 2em;
}

.meta {
  color: #9A9A9A
}

.ui.grid>.row>.column.votes {
  display: flex;
}

ul.ui.list li:before {
  content: '';
}

.voters {
  clear: both;
  width: 100%;
}

.loading{
  margin: 25px;
}

.album-box, 
.image-box{
  margin-left: 25px;
  background: white;
  min-height: 150px;
  border: 1px solid #ddd;
  width: 95%;
  margin-top: 20px;
  padding: 20px;
}

.image-box .image{
  width: 100%;
}

.data-rest{
  padding: 10px;
}

.seguro{
  background: white none repeat scroll 0 0;
  margin-top: -53px;
  position: absolute;
  width: 400px;
  text-align: left;
}

#picture-list .image-item{
  float: left;
  margin: 0px;
  padding: 0px;
  height: 200px;
  width: 240px;
  list-style: none;
  border: 1px solid #ccc;
}

#picture-list .image-item .picture{
  height: 150px;
  overflow: hidden;
} 

#picture-list .image-item img{
  width: 100%;
} 

#picture-list .image-item .title{
  width: 100%;
  height: 50px;
  display: block;
  background: #eee;
  text-align: center;
  color: #444;
  line-height: 50px;
} 

#picture-list .image-item .title a{
  text-decoration: none;
} 
